html {
  box-sizing: border-box;
  background: #000000;
  font-family: "helvetica neue";
  font-size: 20px;
  font-weight: 200;
}
body {
  margin: 0;
  user-select: none;
}
.panels {
  min-height: 100vh;
  overflow: hidden;
  display: flex;
}
.panel {
  background: #000000;
  box-shadow: inset 0 0 0 5px rgba(255, 255, 255, 0.1);
  color: white;
  text-align: center;
  align-items: center;
  transition: font-size 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11),
    flex 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11), background 0.2s;
  font-size: 20px;
  background-size: cover;
  background-position: center;
  flex: 1;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.panel1 {
  background-image: url(https://source.unsplash.com/1501x1501);
}
.panel2 {
  background-image: url(https://source.unsplash.com/1400x1400?universe);
}
.panel3 {
  background-image: url(https://source.unsplash.com/1450x1451?work);
}
.panel4 {
  background-image: url(https://source.unsplash.com/1460x1460?candle);
}
.panel5 {
  background-image: url(https://source.unsplash.com/1501x1500?dream);
}
.panel > * {
  margin: 0;
  width: 100%;
  transition: transform 0.5s;
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.panel > *:first-child {
  transform: translateY(-100%);
}
.panel:active > *:first-child {
  transform: translateY(0);
}
.panel > *:last-child {
  transform: translateY(100%);
}
.panel:active > *:last-child {
  transform: translateY(0);
}
.panel p {
  text-transform: uppercase;
  font-family: cursive, "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.72), 0 0 14px rgba(0, 0, 0, 0.45);
  font-size: 2em;
  filter: blur(1px);
}
.panel p:nth-child(2) {
  font-size: 4em;
}
.panel:active {
  font-size: 40px;
  flex: 5;
}
