@font-face {
  font-family: "2dqb";
  src: url(./fonts/occult-t.ttf);
}
html {
  box-sizing: border-box;
  background-color: #000;
  background: #000;
  font-family: "2dqb", cursive, "Gill Sans", "Gill Sans MT", Calibri,
    "Trebuchet MS", sans-serif;
  overflow: hidden;
  font-size: 1.2rem;
  filter: brightness(1.1);
}
body {
  margin: 0;
  user-select: none;
  position: relative;
  overflow: hidden;
}
body:active > .c1 {
  width: 24px;
  height: 24px;
  border: 3px solid #fff;
}
.panels {
  min-height: 100vh;
  /* min-height: 100vmin; */
  overflow: hidden;
  display: flex;
}
.panel {
  background-color: #000;
  box-shadow: inset 0 0 0 4px rgba(255, 255, 255, 0.03);
  color: #fff;
  text-align: center;
  background-size: cover;
  background-position: center;
  flex: 1;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  filter: blur(0.05vmax);
  height: 100vh;
  font-size: 1.5vmax;
  /* font-size: 1.5vw; */
  /* width: 20vmax; */
  /* height: 100vmin;
  font-size: 1vmax; */
}
.panel1 {
  background-image: url(https://source.unsplash.com/1101x1101);
}
.panel2 {
  background-image: url(https://source.unsplash.com/1100x1100?universe);
}
.panel3 {
  background-image: url(https://source.unsplash.com/1150x1151?work);
}
.panel4 {
  background-image: url(https://source.unsplash.com/1160x1160?candle);
}
.panel5 {
  background-image: url(https://source.unsplash.com/1101x1100?dream);
}
.panel > p {
  text-transform: uppercase;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.72), 0 0 14px rgba(0, 0, 0, 0.45);
  filter: blur(0.025vmax);
  margin: 0;
  width: 100%;
  transition: transform 0.5s;
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.panel,
.panel p:nth-child(2) {
  transition: filter 1s, font-size 0.7s cubic-bezier(0.61, -0.4, 0.7, -0.5),
    flex 0.7s cubic-bezier(0.61, -0.2, 0.7, -0.15), background 0.22s;
}
.panel > p:first-child {
  transform: translateY(-100%);
}
.panel:active > p:first-child,
.panel.active > p:first-child {
  transform: translateY(0);
}
.panel > p:last-child {
  transform: translateY(100%);
}
.panel:active > p:last-child,
.panel.active > p:last-child {
  transform: translateY(0);
}
.panel p:nth-child(2) {
  font-size: calc(4vmax + 1vw);
  /* font-size: 5vmax; */
}
.panel:active,
.panel.active {
  flex: 5;
  filter: blur(0px);
  font-size: 5vmax;
}
.panels:active .panel:not(.panel:active) {
  filter: blur(0.1vmax) sepia(40%);
}
.panels:active .panel:not(.panel:active) p:nth-child(2) {
  font-size: 2.5vmax;
}
.panel:active p:nth-child(2),
.panel.active p:nth-child(2) {
  font-size: 10vmax;
}

.cursor {
  pointer-events: none;
  top: -1.5%;
  right: 99.4%;
}
.c1 {
  width: 20px;
  height: 20px;
  border: 2px solid #fff;
  border-radius: 50%;
  position: fixed;
  transition: width 1ms linear, height 1ms linear;
  z-index: 999999;
  opacity: 0.9;
}
.c1::before {
  content: "";
  border-radius: 50%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 78%;
  border: 1px solid #000;
  height: 78%;
  pointer-events: none;
  opacity: 0.22;
}
.c2 {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  transition: all 5s;
  border: 2px solid #fff;
  transform-origin: 20px 40px;
  position: absolute;
  opacity: 0.9;
}
.c3 {
  pointer-events: none;
  top: 18vh;
  right: 70vw;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  transition: all 10s;
  opacity: 0.6;
  position: absolute;
  background: radial-gradient(
    rgba(64, 0, 255, 0),
    rgb(0, 255, 217, 0.1),
    rgba(0, 0, 255, 0.3),
    rgba(0, 0, 255, 0)
  );
  filter: blur(0.05vmax);
  overflow: hidden;
  border: 1px solid rgba(255, 255, 255, 0.2);
}
.c3 div {
  width: inherit;
  height: inherit;
  border-radius: inherit;
  filter: invert(1) blur(2px);
  background: inherit;
  opacity: 0.3;
  border: 0.5px solid rgba(0, 0, 0, 0.4);
  position: absolute;
}
.c3 div:nth-child(1) {
  /* position: absolute; */
  top: 50%;
}
.c3 div:nth-child(2) {
  /* position: absolute; */
  top: -50%;
}
.c3 div:nth-child(3) {
  /* position: absolute; */
  top: 25%;
  left: 43.38%;
}
.c3 div:nth-child(4) {
  /* position: absolute; */
  top: 25%;
  left: -43.38%;
}
.c3 div:nth-child(5) {
  /* position: absolute; */
  top: -25%;
  left: 43.38%;
}
.c3 div:nth-child(6) {
  /* position: absolute; */
  top: -25%;
  left: -43.38%;
}
.c3 div:nth-child(7) {
  /* position: absolute; */
  left: 86.7%;
}
.c3 div:nth-child(8) {
  /* position: absolute; */
  left: -86.7%;
}
.c3 div:nth-child(9) {
  /* position: absolute; */
  left: 43.38%;
  top: 75%;
}
.c3 div:nth-child(10) {
  /* position: absolute; */
  left: 43.38%;
  top: -75%;
}
.c3 div:nth-child(11) {
  /* position: absolute; */
  left: -43.38%;
  top: 75%;
}
.c3 div:nth-child(12) {
  /* position: absolute; */
  left: -43.38%;
  top: -75%;
}

.bubble {
  min-height: 2px;
  pointer-events: none;
  min-height: 2px;
  top: -15vh;
  right: 100vw;
  width: 2px;
  height: 2px;
  transition: all 22s;
  filter: blur(0.1vmax) brightness(1.2);
  border-radius: 50%;
  opacity: 0;
  position: absolute;
  background-color: #2f36302d;
  background: radial-gradient(
      rgba(64, 0, 255, 0),
      rgb(0, 255, 217, 0.1),
      rgba(0, 0, 255, 0.3),
      rgba(0, 0, 255, 0)
    ),
    #29412c2c;
}

footer {
  position: fixed;
  bottom: 0%;
  left: 0%;
  font-size: min(1.2vmax, 1.22rem);
  font-weight: bold;
  text-align: center;
  animation: roll 200s linear infinite, animate-footer 5s 3s 1 backwards;
  color: #000;
  letter-spacing: 2px;
  min-width: max-content;
}
footer::before {
  content: "''Life is ... . .....'' ~ Webpage digital Art. Crafted and presented to you by";
  animation: animate-footer 5s 2s 1 backwards;
  color: #fff;
  opacity: 0;
  transform: scale(200);
  font-family: Arial, Helvetica, sans-serif;
}
footer a {
  color: rgb(18, 28, 45);
  text-decoration: underline dotted darkblue;
}
/* @keyframes roll {
  from {
    left: 0%;
  }
  to {
    left: 110%;
  }
} */
@keyframes roll {
  0% {
    left: 0%;
  }
  100% {
    left: 85%;
  }
}
.panels {
  animation: come-in 4s ease 1 backwards, fade-in 4s 4s backwards;
}
@keyframes come-in {
  from {
    transform: scale(20) translateX(100%) skew(15deg) rotate(3deg);
  }
}
@keyframes fade-in {
  from {
    opacity: 0.4;
    filter: saturate(0%) contrast(0.7) blur(0.25vmax);
  }
}
.panel:nth-child(even) {
  animation: slide-in 4s ease 1 3s backwards;
}
@keyframes slide-in {
  from {
    transform: translateY(-50%) skew(30deg);
  }
}

.panel3 {
  animation: slide-up 4s ease 1 3s backwards;
}
@keyframes slide-up {
  from {
    transform: translateY(50%) skew(-30deg);
  }
}
.panel5 {
  animation: fade-in-2 6s 6.5s 1 backwards;
}

@keyframes fade-in-2 {
  from {
    opacity: 0;
    filter: blur(0.5vmax);
  }
}

@keyframes animate-footer {
  from {
    transform: scale(2) translateX(25%) translateY(-29%);
    filter: invert(100%);
    opacity: 0.9;
    font-size: 1.1vw;
    /* font-size: 1.1vmax; */
  }
}

@media only screen and (hover: none) and (pointer: coarse) and (max-height: 620px) {
  .panels:hover .panel:not(.panel:hover) {
    filter: blur(0.1vmax) sepia(40%);
  }
  .c1 {
    display: none;
  }
  .c1::before {
    display: none;
  }
  .c2 {
    opacity: 0.1;
  }
}
@media screen and (hover: none) and (orientation: portrait) and (pointer: coarse) {
  .c1 {
    display: none;
  }
  .c1::before {
    display: none;
  }
  .c2 {
    opacity: 0.1;
  }
  /* body,
  .panel {
    height: 96vh;
  } */
  /* html {
    position: relative;
  }
  body {
    transform: rotate(-90deg);
    transform-origin: left top;
    width: 100vmax;
    height: 100vmin;
    position: fixed;
    top: 100%;
    left: 0;
    cursor: auto !important;
  }

  body::after {
    color: rgb(255, 0, 0);
    content: "Please rotate screen. \A \a View in landscape mode.";
    white-space: pre;
    font-size: 8vmin;
    font-weight: bold;
    border: 1px solid rgba(255, 0, 0, 0.5);
    position: absolute;
    top: 0%;
    right: 0;
    bottom: 0%;
    left: 0%;
    width: 100vmax;
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transform: rotate(90deg);
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(0, 0, 0, 0.7);
    animation: rotate-scrn 10s infinite alternate;
    pointer-events: none;
  }
  @keyframes rotate-scrn {
    100% {
      transform: rotate(170deg);
      opacity: 0;
    }
    48%,
    52% {
      opacity: 1;
      transform: rotate(90deg);
    }
    0% {
      transform: rotate(10deg);
      opacity: 0;
    }
  }
   */
}
