@font-face {
  font-family: "2dqb";
  src: url(./fonts/occult-t.ttf);
}
html {
  box-sizing: border-box;
  background: #000;
  font-family: "2dqb", cursive, "Gill Sans", "Gill Sans MT", Calibri,
    "Trebuchet MS", sans-serif;
  overflow: hidden;
  font-size: 1.2rem;
}
body {
  margin: 0;
  user-select: none;
  position: relative;
  overflow: hidden;
}
body:active > .c1 {
  width: 24px;
  height: 24px;
  border: 3px solid #fff;
}
.panels {
  min-height: 100vmin;
  overflow: hidden;
  display: flex;
}
.panel {
  background-color: #000;
  box-shadow: inset 0 0 0 4px rgba(255, 255, 255, 0.03);
  color: #fff;
  text-align: center;
  background-size: cover;
  background-position: center;
  flex: 1;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  filter: blur(1px);
  width: 20vmax;
  height: 100vmin;
  font-size: 2.1vmax;
}
.panel1 {
  background-image: url(https://source.unsplash.com/1501x1501);
}
.panel2 {
  background-image: url(https://source.unsplash.com/1400x1400?universe);
}
.panel3 {
  background-image: url(https://source.unsplash.com/1450x1451?work);
}
.panel4 {
  background-image: url(https://source.unsplash.com/1460x1460?candle);
}
.panel5 {
  background-image: url(https://source.unsplash.com/1501x1500?dream);
}
.panel > p {
  text-transform: uppercase;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.72), 0 0 14px rgba(0, 0, 0, 0.45);
  filter: blur(0.5px);
  margin: 0;
  width: 100%;
  transition: transform 0.5s;
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.panel,
.panel p:nth-child(2) {
  transition: filter 1s, font-size 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11),
    flex 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11), background 0.2s;
}
.panel > p:first-child {
  transform: translateY(-100%);
}
.panel:active > p:first-child {
  transform: translateY(0);
}
.panel > p:last-child {
  transform: translateY(100%);
}
.panel:active > p:last-child {
  transform: translateY(0);
}
.panel p:nth-child(2) {
  font-size: 4.2vmax;
}
.panel:active {
  flex: 5;
  filter: blur(0px);
  font-size: 4.2vmax;
}
.panels:active .panel:not(.panel:active) {
  filter: blur(2px) sepia(40%);
}
.panels:active .panel:not(.panel:active) p:nth-child(2) {
  font-size: 2.1vmax;
}
.panel:active p:nth-child(2) {
  font-size: 8.4vmax;
}

.cursor {
  pointer-events: none;
  top: -1.5%;
  right: 99.4%;
}
.c1 {
  width: 20px;
  height: 20px;
  border: 2px solid #fff;
  border-radius: 50%;
  position: fixed;
  transition: width 1ms linear, height 1ms linear;
  z-index: 999999;
}
.c1::before {
  content: "";
  border-radius: 50%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 78%;
  border: 1px solid #000;
  height: 78%;
  pointer-events: none;
  opacity: 0.26;
}
.c2 {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  transition: all 5s;
  border: 2px solid #fff;
  transform-origin: 20px 40px;
  position: absolute;
}
.c3 {
  top: 18vh;
  right: 70vw;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  transition: all 10s;
  opacity: 0.6;
  position: absolute;
  background: radial-gradient(
    rgba(64, 0, 255, 0),
    rgb(0, 255, 217, 0.1),
    rgba(0, 0, 255, 0.3),
    rgba(0, 0, 255, 0)
  );
  filter: blur(1px);
}
#music-1 {
  transition: all 10s;
}
.bubble {
  min-height: 2px;
  pointer-events: none;
  min-height: 2px;
  top: -15vh;
  right: 100vw;
  width: 2px;
  height: 2px;
  transition: all 22s;
  filter: blur(2px);
  border-radius: 50%;
  opacity: 0;
  position: absolute;
  background-color: #2f36302d;
  background: radial-gradient(
      rgba(64, 0, 255, 0),
      rgb(0, 255, 217, 0.1),
      rgba(0, 0, 255, 0.3),
      rgba(0, 0, 255, 0)
    ),
    #29412c2c;
}

@media screen and (min-height: 500px) and (max-width: 500px) {
  html {
    position: relative;
  }
  body {
    transform: rotate(-90deg);
    transform-origin: left top;
    width: 100vmax;
    height: 100vmin;
    position: fixed;
    top: 100%;
    left: 0;
    cursor: auto !important;
  }
  /* .panel {
  } */
}

footer {
  position: fixed;
  bottom: 0%;
  left: 0%;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  animation: roll 200s linear infinite;
  color: #000;
  letter-spacing: 2px;
}
footer a {
  color: rgb(18, 28, 45);
  text-decoration: wavy underline dotted double darkblue;
}
@keyframes roll {
  from {
    left: 0%;
  }
  to {
    left: 110%;
  }
}
